.weather img {
  max-width: 15%;
  margin-right: 5px;
}
.weather li {
  list-style: none;
}
.weather ul {
  padding: 0px;
}
.currentTemperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 70px;
}
.unit {
  position: relative;
  top: -20px;
  font-size: 16px;
  font-weight: 400;
}
.weather form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
a {
  text-decoration: none;
}
.temperature {
  display: flex;
  flex-direction: row;
}
